{% extends 'partials/base.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-10 offset-md-1">
            {% if chart %}
            <img src="data:image/png;base64, {{chart|safe}}">
            {% endif %}
            {% if not chart %}
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="data_file">
                <button type="submit">Upload</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}